.black {
  /* Morados */
  /* bordes */
}
.black .redesSocialesAnimadas ul li .ico {
  color: #05070b !important;
}
.black .redesSocialesAnimadas ul li:hover .ico {
  color: #fff !important;
}
.black .redesSocialesAnimadas ul li button {
  background-color: transparent;
}
.black .redesSocialesAnimadas ul li button:hover span:last-child {
  background-color: #111;
}
.black .redesSocialesAnimadas ul li:last-child > button > a:first-child:after {
  background: transparent repeat 0 0;
}
.black .redesSocialesAnimadas ul li a {
  background-color: #fff;
}
.black .redesSocialesAnimadas ul li a:hover {
  background-color: #111;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.black .redesSocialesAnimadas ul li a:hover:before {
  border: 1px solid #fff !important;
}
.black .redesSocialesAnimadas ul li a:before {
  border: 1px solid #fff;
}
.black .redesSocialesAnimadas ul li a span:last-child {
  background: transparent;
}
.black .dropdown {
  border: 1px solid transparent;
}
.black .dropdown:hover {
  border: 1px solid #fff;
}
.black .dropdown > span {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #fff;
  background-color: #111;
  color: #fff;
}
.black .dropdown > span:after {
  border-left: 1px solid #ddd;
}
.black .dropdown .selLabel::after {
  color: #fff !important;
}
.black .dropdown-list li {
  background-color: #111;
}
.black .dropdown-list li:hover {
  background-color: rgba(17, 17, 17, 0.5);
}
.black .dropdown-list li span {
  color: #fff;
}
.black .containerForm .front {
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 0px 5px transparent;
          box-shadow: 0px 0px 5px transparent;
}
.black .checkBoxContainer .ico {
  color: #333;
}
.black .checkBoxContainer .ico.active {
  color: #fff;
}
.black .formGroupSesion .buttonContainer button.login {
  border: 1px solid #fff;
  color: white;
}
.black .containerForm .newPassword {
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 0px 5px transparent;
          box-shadow: 0px 0px 5px transparent;
}
.black .containerForm .backRight {
  -webkit-box-shadow: 0px 0px 5px transparent;
          box-shadow: 0px 0px 5px transparent;
}
.black .formGroupSesion .containerRegister button {
  border: 1px solid #fff;
  color: #fff;
}
.black .formGroupSesion .legal a {
  color: #f77;
}
.black .containerForm .backLeft {
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 0px 5px transparent;
          box-shadow: 0px 0px 5px transparent;
}
.black .containerForm .backLeft .buttonBack a {
  background-color: transparent;
}
.black .formGroupSesion hr {
  border: 1px solid transparent !important;
}
.black .formGroupSesion hr.titleHr {
  background-color: #fff;
  border-left: 9px solid #fff !important;
  border-right: 9px solid #fff !important;
}
.black .formGroupSesion .submitEmail {
  background-color: #fff !important;
}
.black .formGroupSesion .submitEmail .ico {
  color: #111;
}
.black .animationCircle .ico {
  color: #fff;
  text-shadow: none;
}
.black .animationCircle.active:before {
  border: 4px solid transparent;
}
@-webkit-keyframes circle {
  0% {
    border-color: transparent;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    border-color: transparent #fff transparent transparent;
  }
  50% {
    border-color: transparent #fff #fff transparent;
  }
  75% {
    border-color: transparent #fff #fff #fff;
  }
  100% {
    border-color: #fff;
  }
}
@keyframes circle {
  0% {
    border-color: transparent;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    border-color: transparent #fff transparent transparent;
  }
  50% {
    border-color: transparent #fff #fff transparent;
  }
  75% {
    border-color: transparent #fff #fff #fff;
  }
  100% {
    border-color: #fff;
  }
}
.black button {
  background-color: transparent;
}
.black body {
  background: #0c0c0c;
}
.black .backgroundHome {
  background: -webkit-gradient(linear, left bottom, left top, from(#000), to(#05070b));
  background: linear-gradient(to top, #000, #05070b);
}
.black .backgroundLigth {
  background-image: radial-gradient(circle at center, #d6f0ff6b 0, rgba(50, 51, 63, 0) 66.66%);
}
.black ::-moz-selection {
  background: #111;
  color: #fff;
}
.black ::selection {
  background: #111;
  color: #fff;
}
.black a::-moz-selection {
  background: #111 !important;
}
.black a::selection {
  background: #111 !important;
}
.black a::-moz-selection:hover {
  border-bottom: 1px solid #111 !important;
}
.black a::selection:hover {
  border-bottom: 1px solid #111 !important;
}
.black ::-webkit-scrollbar {
  background: #fff;
}
.black ::-webkit-scrollbar-thumb {
  background: #111;
}
.black .containerForm {
  color: #fff;
}
.black .formGroupSesion {
  background-color: #000;
}
.black .formGroupSesion p {
  color: #fff;
}
.black .formGroupSesion button {
  background-color: transparent;
}
.black .formGroupSesion button a {
  color: #fff;
}
.black .formGroupSesion button.submit:focus {
  background-color: #282828 !important;
}
.black .formGroupSesion button.submit:hover {
  background-color: #111;
}
.black .formGroupSesion form .containerInput {
  background-color: #111 !important;
  border: 1px solid transparent;
}
.black .formGroupSesion form .containerInput:hover {
  border: 1px solid #fff;
}
.black .formGroupSesion form .error {
  border: 1px solid #00acee;
}
.black .formGroupSesion input {
  background-color: transparent !important;
  border: 3px solid transparent;
  color: #fff !important;
}
.black .formGroupSesion input:focus {
  background-color: transparent;
}
.black .formGroupSesion input::-webkit-input-placeholder {
  color: #fff !important;
}
.black .formGroupSesion input::-moz-placeholder {
  color: #fff !important;
}
.black .formGroupSesion input::-ms-input-placeholder {
  color: #fff !important;
}
.black .activeFocus {
  border: 1px solid #fff !important;
}
@-webkit-keyframes tarjetaFocus {
  1% {
    color: #fff;
    border: 1px solid #fff;
    -webkit-box-shadow: 0px 0px 5px #fff;
            box-shadow: 0px 0px 5px #fff;
  }
  100% {
    border-color: transparent;
  }
}
@keyframes tarjetaFocus {
  1% {
    color: #fff;
    border: 1px solid #fff;
    -webkit-box-shadow: 0px 0px 5px #fff;
            box-shadow: 0px 0px 5px #fff;
  }
  100% {
    border-color: transparent;
  }
}
.white {
  /* Morados */
  /* bordes */
}
.white .ico {
  color: #222;
}
.white .buttonSesion span {
  color: #222;
}
.white .redesSocialesAnimadas ul li .ico {
  color: #fff !important;
}
.white .redesSocialesAnimadas ul li:hover .ico {
  color: #000 !important;
}
.white .redesSocialesAnimadas ul li button {
  background-color: transparent;
}
.white .redesSocialesAnimadas ul li button:hover span:last-child {
  background-color: #eee;
}
.white .redesSocialesAnimadas ul li:last-child > button > a:first-child:after {
  background: transparent repeat 0 0;
}
.white .redesSocialesAnimadas ul li a {
  background-color: #000;
}
.white .redesSocialesAnimadas ul li a:hover {
  background-color: #333;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.white .redesSocialesAnimadas ul li a:hover:before {
  border: 1px solid #000 !important;
}
.white .redesSocialesAnimadas ul li a:before {
  border: 1px solid #000;
}
.white .redesSocialesAnimadas ul li a:after {
  background: url("../../img/line3.png") repeat 0 0;
}
.white .redesSocialesAnimadas ul li a span:last-child {
  background: transparent;
}
.white .dropdown {
  border: 1px solid transparent;
}
.white .dropdown:hover {
  border: 1px solid #333;
}
.white .dropdown > span {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #fff;
  background-color: #eee;
  color: #222;
}
.white .dropdown > span:after {
  border-left: 1px solid #ddd;
}
.white .dropdown .selLabel::after {
  color: #333 !important;
}
.white .dropdown-list li {
  background-color: #eee;
}
.white .dropdown-list li:hover {
  background-color: rgba(238, 238, 238, 0.5);
}
.white .dropdown-list li span {
  color: #222;
}
.white .containerForm .front {
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 0px 5px transparent;
          box-shadow: 0px 0px 5px transparent;
}
.white .checkBoxContainer .ico {
  color: #333;
}
.white .checkBoxContainer .ico.active {
  color: #000;
}
.white .formGroupSesion .buttonContainer button.login {
  border: 1px solid #000;
  color: #222;
}
.white .containerForm .newPassword {
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 0px 5px transparent;
          box-shadow: 0px 0px 5px transparent;
}
.white .containerForm .backRight {
  -webkit-box-shadow: 0px 0px 5px transparent;
          box-shadow: 0px 0px 5px transparent;
}
.white .formGroupSesion .containerRegister button {
  border: 1px solid #000;
  color: #222;
}
.white .formGroupSesion .legal a {
  color: #14a4ff;
}
.white .containerForm .backLeft {
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 0px 5px transparent;
          box-shadow: 0px 0px 5px transparent;
}
.white .containerForm .backLeft .buttonBack a {
  background-color: transparent;
}
.white .formGroupSesion hr {
  border: 1px solid transparent !important;
}
.white .formGroupSesion hr.titleHr {
  background-color: #333;
  border-left: 9px solid #fff !important;
  border-right: 9px solid #fff !important;
}
.white .formGroupSesion .submitEmail {
  background-color: #333 !important;
}
.white .formGroupSesion .submitEmail .ico {
  color: #eee;
}
.white .animationCircle .ico {
  color: #333;
  text-shadow: none;
}
.white .animationCircle.active:before {
  border: 4px solid transparent;
}
@keyframes circle {
  0% {
    border-color: transparent;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    border-color: transparent #333 transparent transparent;
  }
  50% {
    border-color: transparent #333 #333 transparent;
  }
  75% {
    border-color: transparent #333 #333 #333;
  }
  100% {
    border-color: #333;
  }
}
.white button {
  background-color: transparent;
}
.white body {
  background: #0c0c0c;
}
.white .backgroundHome {
  background: -webkit-gradient(linear, left bottom, left top, from(#000), to(#05070b));
  background: linear-gradient(to top, #000, #05070b);
}
.white .backgroundLigth {
  background-image: radial-gradient(circle at center, #d6f0ff6b 0, rgba(50, 51, 63, 0) 66.66%);
}
.white ::-moz-selection {
  background: #eee;
  color: #fff;
}
.white ::selection {
  background: #eee;
  color: #fff;
}
.white a::-moz-selection {
  background: #eee !important;
}
.white a::selection {
  background: #eee !important;
}
.white a::-moz-selection:hover {
  border-bottom: 1px solid #eee !important;
}
.white a::selection:hover {
  border-bottom: 1px solid #eee !important;
}
.white ::-webkit-scrollbar {
  background: #fff;
}
.white ::-webkit-scrollbar-thumb {
  background: #eee;
}
.white .containerForm {
  color: #fff;
}
.white .formGroupSesion {
  background-color: #fff;
}
.white .formGroupSesion p {
  color: #222;
}
.white .formGroupSesion button {
  background-color: transparent;
}
.white .formGroupSesion button a {
  color: #333;
}
.white .formGroupSesion button.submit:focus {
  background-color: #282828 !important;
  color: #fff;
}
.white .formGroupSesion button.submit:hover {
  background-color: #eee;
}
.white .formGroupSesion form .containerInput {
  background-color: #eee !important;
  border: 1px solid transparent;
}
.white .formGroupSesion form .containerInput:hover {
  border: 1px solid #333;
}
.white .formGroupSesion form .error {
  border: 1px solid #00acee;
}
.white .formGroupSesion input {
  background-color: transparent !important;
  border: 3px solid transparent;
  color: #222 !important;
}
.white .formGroupSesion input:focus {
  background-color: transparent;
}
.white .formGroupSesion input::-webkit-input-placeholder {
  color: #222 !important;
}
.white .formGroupSesion input::-moz-placeholder {
  color: #222 !important;
}
.white .formGroupSesion input::-ms-input-placeholder {
  color: #222 !important;
}
.white .activeFocus {
  border: 1px solid #333 !important;
}
@keyframes tarjetaFocus {
  1% {
    color: #fff;
    border: 1px solid #fff;
    -webkit-box-shadow: 0px 0px 5px #333;
            box-shadow: 0px 0px 5px #333;
  }
  100% {
    border-color: transparent;
  }
}
