/* Paleta de colores */
/* colores de los team */
/* fonts */
/* Morados */
/* bordes */
/* transicion */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

button {
  background-color: transparent;
}

body {
  background: #0c0c0c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Lato, sans-serif;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 100vh;
}

#root {
  width: 100%;
  height: 99vh;
}

.backgroundHome {
  background: -webkit-gradient(linear, left bottom, left top, from(#390f64), to(#05070b));
  background: linear-gradient(to top, #390f64, #05070b);
  height: 186%;
  left: -200px;
  position: fixed;
  -webkit-transform: rotate(-183deg);
          transform: rotate(-183deg);
  top: -200px;
  width: 235%;
  z-index: -150;
}

.container-my-form {
  width: 100%;
  height: 99vh;
}

.center-xy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.backgroundLigth {
  display: block;
  background-image: radial-gradient(circle at center, #ff57226b 0, rgba(50, 51, 63, 0) 66.66%);
  left: 50%;
  height: 200vh;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 0;
  width: 99vw;
  z-index: -1;
}

.containerAll {
  display: inherit;
  -ms-flex-wrap: inherit;
      flex-wrap: inherit;
  min-height: inherit;
  width: 100%;
}

::-moz-selection {
  background: #4353ff;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #4353ff;
  color: #fff;
  text-shadow: none;
}

a::-moz-selection {
  background: #4353ff !important;
  text-decoration: none;
}

a::selection {
  background: #4353ff !important;
  text-decoration: none;
}
a::-moz-selection:hover {
  border-bottom: 1px solid #4353ff !important;
}
a::selection:hover {
  border-bottom: 1px solid #4353ff !important;
}

::-webkit-scrollbar {
  width: 5px;
  background: #fff;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}

::-webkit-scrollbar-thumb {
  background: #4353ff;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}
