@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?t7l9mo');
  src:  url('fonts/icomoon.eot?t7l9mo#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?t7l9mo') format('truetype'),
    url('fonts/icomoon.woff?t7l9mo') format('woff'),
    url('fonts/icomoon.svg?t7l9mo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\e91a";
}
.icon-error:before {
  content: "\e904";
}
.icon-error-outline:before {
  content: "\e905";
}
.icon-loop:before {
  content: "\e906";
}
.icon-mic:before {
  content: "\e907";
}
.icon-mic-none:before {
  content: "\e908";
}
.icon-not-interested:before {
  content: "\e90a";
}
.icon-add-box:before {
  content: "\e90c";
}
.icon-save:before {
  content: "\e90d";
}
.icon-send:before {
  content: "\e90e";
}
.icon-brightness-1:before {
  content: "\e90f";
}
.icon-brightness-2:before {
  content: "\e910";
}
.icon-brightness-3:before {
  content: "\e911";
}
.icon-computer:before {
  content: "\e901";
}
.icon-desktop-windows:before {
  content: "\e902";
}
.icon-phone-android:before {
  content: "\e903";
}
.icon-brightness-4:before {
  content: "\e912";
}
.icon-color-lens:before {
  content: "\e913";
}
.icon-local-offer:before {
  content: "\e916";
}
.icon-arrow-drop-down:before {
  content: "\e918";
}
.icon-keyboard-control:before {
  content: "\e91c";
}
.icon-lock-plus:before {
  content: "\e91d";
}
.icon-no-encryption:before {
  content: "\e91e";
}
.icon-priority-high:before {
  content: "\e91f";
}
.icon-notifications-none:before {
  content: "\e920";
}
.icon-notifications-off:before {
  content: "\e921";
}
.icon-notifications-on:before {
  content: "\e922";
}
.icon-notifications-paused:before {
  content: "\e923";
}
.icon-person:before {
  content: "\e909";
}
.icon-share:before {
  content: "\e924";
}
.icon-check-box:before {
  content: "\e925";
}
.icon-check-box-outline_blank:before {
  content: "\e926";
}
.icon-radio-button-on:before {
  content: "\e927";
}
.icon-star-complete:before {
  content: "\e928";
}
.icon-star-medium:before {
  content: "\e929";
}
.icon-star-empty:before {
  content: "\e92a";
}
.icon-account-box:before {
  content: "\e92b";
}
.icon-assignment-ind:before {
  content: "\e92d";
}
.icon-autorenew:before {
  content: "\e92e";
}
.icon-done:before {
  content: "\e92f";
}
.icon-done-all:before {
  content: "\e930";
}
.icon-extension:before {
  content: "\e931";
}
.icon-favorite:before {
  content: "\e932";
}
.icon-favorite-outline:before {
  content: "\e933";
}
.icon-home:before {
  content: "\e934";
}
.icon-https:before {
  content: "\e935";
}
.icon-word:before {
  content: "\e938";
}
.icon-lock-open:before {
  content: "\e939";
}
.icon-lock:before {
  content: "\e93a";
}
.icon-settings:before {
  content: "\e93b";
}
.icon-bolt:before {
  content: "\e93c";
}
.icon-eco:before {
  content: "\e93d";
}
.icon-nights-stay:before {
  content: "\e93e";
}
.icon-auto-fix-high:before {
  content: "\e93f";
}
.icon-auto-fix-normal:before {
  content: "\e940";
}
.icon-auto-fix-off:before {
  content: "\e941";
}
.icon-lock-clock:before {
  content: "\e943";
}
.icon-qr-code:before {
  content: "\e947";
}
.icon-qr-code-scanner:before {
  content: "\e948";
}
.icon-add-task:before {
  content: "\e94b";
}
.icon-facebook-circle:before {
  content: "\e94c";
}
.icon-mail:before {
  content: "\e915";
}
.icon-calendar:before {
  content: "\e917";
}
.icon-world:before {
  content: "\e914";
}
.icon-heart:before {
  content: "\f004";
}
.icon-heart:before {
  content: "\f004";
}
.icon-check:before {
  content: "\f00c";
}
.icon-close:before {
  content: "\f00d";
}
.icon-tag:before {
  content: "\f02b";
}
.icon-tags:before {
  content: "\f02c";
}
.icon-bookmark:before {
  content: "\f02e";
}
.icon-arrows:before {
  content: "\f047";
}
.icon-chevron-big:before {
  content: "\f054";
}
.icon-arrow-left:before {
  content: "\f060";
}
.icon-leaf:before {
  content: "\f06c";
}
.icon-facebook-square:before {
  content: "\f082";
}
.icon-heart-o:before {
  content: "\f08a";
}
.icon-linkedin-square:before {
  content: "\f08c";
}
.icon-github-square:before {
  content: "\f092";
}
.icon-bookmark-o:before {
  content: "\f097";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-github-circle:before {
  content: "\f09b";
}
.icon-menu:before {
  content: "\f0c9";
}
.icon-magic:before {
  content: "\f0d0";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-bell:before {
  content: "\f0f3";
}
.icon-plus-square:before {
  content: "\f0fe";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-code-fork:before {
  content: "\f126";
}
.icon-exclamation:before {
  content: "\f12a";
}
.icon-rocket:before {
  content: "\f135";
}
.icon-check-square:before {
  content: "\f14a";
}
.icon-bitcoin:before {
  content: "\f15a";
}
.icon-youtube:before {
  content: "\f16a";
}
.icon-dropbox:before {
  content: "\f16b";
}
.icon-stack-overflow:before {
  content: "\f16c";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-apple:before {
  content: "\f179";
}
.icon-windows:before {
  content: "\f17a";
}
.icon-android:before {
  content: "\f17b";
}
.icon-linux:before {
  content: "\f17c";
}
.icon-google:before {
  content: "\f1a0";
}
.icon-bell-slash:before {
  content: "\f1f6";
}
.icon-bell-slash-o:before {
  content: "\f1f7";
}
.icon-at:before {
  content: "\f1fa";
}
.icon-heartbeat:before {
  content: "\f21e";
}
.icon-venus:before {
  content: "\f221";
}
.icon-mars:before {
  content: "\f222";
}
.icon-intersex:before {
  content: "\f224";
}
.icon-whatsapp:before {
  content: "\f232";
}
.icon-wikipedia-w:before {
  content: "\f266";
}
.icon-chrome:before {
  content: "\f268";
}
.icon-gitlab:before {
  content: "\f296";
}
.icon-snapchat:before {
  content: "\f2ab";
}
.icon-snapchat-ghost:before {
  content: "\f2ac";
}
.icon-snapchat-square:before {
  content: "\f2ad";
}
.icon-chevron-small:before {
  content: "\e900";
}
.icon-adjust:before {
  content: "\e94d";
}
.icon-database:before {
  content: "\e94e";
}
.icon-feather:before {
  content: "\e94f";
}
.icon-flag:before {
  content: "\e950";
}
.icon-info:before {
  content: "\e954";
}
.icon-user:before {
  content: "\e919";
}
.icon-paypal:before {
  content: "\e959";
}
.icon-linkedin:before {
  content: "\e95f";
}
