
body {
  background: rgb(12, 12, 12);
  display: flex;
  font-family: Lato, sans-serif;
  flex-wrap: wrap;
  min-height: 100vh;
}

#root {
  width: 100%;
  height: 99vh;
}

.backgroundHome {
  background: linear-gradient(
    to top,
    $colorPurpleOscuro,
    $colorBackgroundBlackDark
  );
  height: 186%;
  left: -200px;
  position: fixed;
  transform: rotate(-183deg);
  top: -200px;
  width: 235%;
  z-index: -150;
}

.container-my-form {
  width: 100%;
  height: 99vh;
  display: flex;
  justify-content: center;
  margin-top: 6vh;
}
.center-xy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.backgroundLigth {
  display: block;
  background-image: radial-gradient(
    circle at center,
    #ff57226b 0,
    rgba(50, 51, 63, 0) 66.66%
  );
  left: 50%;
  height: 200vh;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 0;
  width: 99vw;
  z-index: -1;
}

.containerAll {
  display: inherit;
  flex-wrap: inherit;
  min-height: inherit;
  width: 100%;
}



@media screen and (max-width: 1024px) {
  .container-my-form {
    margin: 4vh 0;
  }
}
